<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text"
             [(ngModel)]="form.name"
             class="form-control"
             id="name">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="nameReact">Nombre React</label>
      <input type="text"
             [formControl]="formReact.get('name')"
             class="form-control"
             id="nameReact">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="date">Fecha</label>
      <input type="date"
             id="date"
             class="form-control">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="dateReact">Fecha React</label>
      <input type="date"
             [formControl]="formReact.get('date')"
             id="dateReact"
             class="form-control">
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-danger" (click)="returnLastPage()">

      Buscar
    </button>

    <button class="btn btn-success" (click)="save()">

      Buscar
    </button>

    <button class="btn btn-success" (click)="saveReact()">

      Buscar
    </button>
  </div>
</div>
