<div class="row">
  <div class="col-12">
    <h3>Lista de Productos</h3>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="search">Buscador</label>
      <input type="text"
             [(ngModel)]="search"
             (ngModelChange)="searchChange($event)"
             class="form-control"
             id="search">
    </div>
  </div>
  <div class="col-6">
    <button class="btn btn-success" (click)="onSearch()">

      Buscar
    </button>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="order('name')">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Fecha</th>
        <th scope="col">Fecha 2</th>
        <th scope="col">Fecha 3</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of list">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>
          <span
            leoColorStatus
            [item]="product"
            [ngClass]="{
                         'text-warning': product.id === 3,
                         'text-danger': product.id === 5
                          }">
            Esto es la descripcion del producto {{product.id}}
          </span>
        </td>
        <td>{{product.date | isodate}}</td>
        <td>{{product.date | date: 'dd/MM/yyyy': 'UTC'}}</td>
        <td>{{transformDate(product.date)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
